<!DOCTYPE html>
<html ng-app="MonApp"  xmlns="http://www.w3.org/1999/xhtml">
    <head>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js" ></script>
          <script src="https://code.angularjs.org/1.7.8/angular-route.min.js"></script>

          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

          <link rel="stylesheet" href="style.css">
          <title></title>
          <script src="js/app.js"></script>
          <script src="js/service/factory.js"></script>
          <script>


                /*var model = {   items: [
                            {		"index": "1",
                        		"id": "434780095",
                        		"name": " ممدوح بن سلطان بن مزيد الحافي",
                        		"topic": " مسار شبكات الحاسب",
                        		"status": " محروم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "2",
                        		"id": "435420683",
                        		"name": " باسل بن بن طامي بن بن ضيف الله الأسعدي العتيبي",
                        		"topic": " علوم الحاسب",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "3",
                        		"id": "435421134",
                        		"name": " عبدالله بن نور بن هلال العتيبي",
                        		"topic": " الاحياء",
                        		"status": " محروم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "4",
                        		"id": "435780111",
                        		"name": " سعد بن محمد بن مطر العتيبي",
                        		"topic": " الكيمياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "5",
                        		"id": "435780380",
                        		"name": " سلطان بن مسعد بن طنف المطيري",
                        		"topic": " اللغة الانجليزية",
                        		"status": " محروم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "6",
                        		"id": "436905008",
                        		"name": " وليد بن خالد بن مرشد المطيري",
                        		"topic": " ادارة الاعمال",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "7",
                        		"id": "436905015",
                        		"name": " خالد بن ضيدان بن نياف العتيبي",
                        		"topic": " علوم الحاسب",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "8",
                        		"id": "437780114",
                        		"name": " بندر بن حمود بن الحميدي العتيبي",
                        		"topic": " الاحياء",
                        		"status": " محروم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "9",
                        		"id": "437905003",
                        		"name": " فيصل بن نفجان بن ساير العتيبي",
                        		"topic": " اللغة الانجليزية",
                        		"status": " محروم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "10",
                        		"id": "438460148",
                        		"name": " عبدالرحمن بن ظاهر بن ناصر الاسعدي العتيبي",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "11",
                        		"id": "438460169",
                        		"name": " تركي بن راكان بن صقر العطاوي",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "12",
                        		"id": "438780006",
                        		"name": " مهند بن ثقل بن لفاء الغربي العتيبي",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "13",
                        		"id": "438780017",
                        		"name": " عبدالعزيز بن مطلق بن لفاء الغربي العتيبي",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "14",
                        		"id": "438780029",
                        		"name": " محمد بن عالي بن قاعد الحويقل العتيبي",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "15",
                        		"id": "438780031",
                        		"name": " عبدالعزيز بن فالح بن ابراهيم التويجري الحربي",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "16",
                        		"id": "438780036",
                        		"name": " فهد بن صنيتان بن مرزوق الشيباني العتيبي",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "17",
                        		"id": "438780041",
                        		"name": " بدر بن محمد بن خلف العضياني العتيبي",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "18",
                        		"id": "438780073",
                        		"name": " عبدالله بن فيحان بن مليح الجش المطيري",
                        		"topic": " اللغة الانجليزية",
                        		"status": " منسحب",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "19",
                        		"id": "438780079",
                        		"name": " سامي بن ذياب بن مزيد العضياني",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "20",
                        		"id": "438780084",
                        		"name": " خالد بن سلطان بن بندر ظمنه المطيري",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "21",
                        		"id": "438780087",
                        		"name": " خالد بن متعب بن منيف العبدلي المطيري",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "22",
                        		"id": "438780088",
                        		"name": " محمد بن رجاء بن شجاع الجش المطيري",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "23",
                        		"id": "438780095",
                        		"name": " صالح بن سعود بن عايض الجش المطيري",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "24",
                        		"id": "438780098",
                        		"name": " ناصر بن ملفي بن عامر العضياني العتيبي",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "25",
                        		"id": "438780099",
                        		"name": " شاهر بن عبيد بن غافل الغضباني العتيبي",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "26",
                        		"id": "438780103",
                        		"name": " ماجد بن بدر بن سهل القسامي العتيبي",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "27",
                        		"id": "438780104",
                        		"name": " بدر بن ضيف الله بن نجر قبلان العتيبي",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "28",
                        		"id": "438780110",
                        		"name": " محمد بن عطيان بن معتاد المهلكي المطيري",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "29",
                        		"id": "438780113",
                        		"name": " معاذ بن محمد بن عبدالله السكران",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "30",
                        		"id": "438780115",
                        		"name": " عبدالعزيز بن عوض بن دعيكان الحافي",
                        		"topic": " الاحياء",
                        		"status": " محروم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "31",
                        		"id": "438780126",
                        		"name": " بندر بن عوض الله بن عوض المهلكي المطيري",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "32",
                        		"id": "438780129",
                        		"name": " عبدالرحمن بن خالد بن عبيد العصيمي العتيبي",
                        		"topic": " اللغة الانجليزية",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "33",
                        		"id": "438780145",
                        		"name": " نواف بن فارع بن شارع العضياني",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "34",
                        		"id": "438780158",
                        		"name": " مشاري بن سعود بن محمد الجش المطيري",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "35",
                        		"id": "438780162",
                        		"name": " ممدوح بن فالح بن ابراهيم التويجري",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "36",
                        		"id": "438780173",
                        		"name": " وليد بن سعد بن هلال الحربي",
                        		"topic": " الاحياء",
                        		"status": " منسحب",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "37",
                        		"id": "438780179",
                        		"name": " ماجد بن مساعد بن بجاد المطيري",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "المسرح ٢",
                        		"section": "120",
                        		"exam": "الإسلام وبناء المجتمع ١٠٢ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٠:٠٠ ص"
                        	},
                        	{
                        		"index": "38",
                        		"id": "435780030",
                        		"name": " خالد بن عقاب بن عبدالله الحربي",
                        		"topic": " علوم الحاسب",
                        		"status": " منتظم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "39",
                        		"id": "436780302",
                        		"name": " سعود بن عابد بن سعد الحارثي",
                        		"topic": " ادارة الاعمال",
                        		"status": " منسحب",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "40",
                        		"id": "436780308",
                        		"name": " زياد بن فاىز بن عويض المطيري",
                        		"topic": " اللغة الانجليزية",
                        		"status": " منتظم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "41",
                        		"id": "437780044",
                        		"name": " عبدالله بن سعود بن عبيد العتيبي",
                        		"topic": " ادارة الاعمال",
                        		"status": " محروم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "42",
                        		"id": "437780123",
                        		"name": " تركي بن ضيف  الله بن هديف العتيبي",
                        		"topic": " ادارة الاعمال",
                        		"status": " منتظم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "43",
                        		"id": "437780146",
                        		"name": " براك بن ضيف  الله بن براك العتيبي",
                        		"topic": " ادارة الاعمال",
                        		"status": " منسحب",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "44",
                        		"id": "438420177",
                        		"name": " عبدالله بن مقبل بن ابراهيم الحافي العتيبي",
                        		"topic": " ادارة الاعمال",
                        		"status": " منتظم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "45",
                        		"id": "438421013",
                        		"name": " محمد بن خالد بن محمد الحنتوشي",
                        		"topic": " ادارة الاعمال",
                        		"status": " منتظم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "46",
                        		"id": "438780009",
                        		"name": " مطلق بن حمود بن خالد الروقي العتيبي",
                        		"topic": " ادارة الاعمال",
                        		"status": " منسحب",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "47",
                        		"id": "438780016",
                        		"name": " فيصل بن عاتق بن مصري الشاطري المطيري",
                        		"topic": " ادارة الاعمال",
                        		"status": " منسحب",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "48",
                        		"id": "438780019",
                        		"name": " نواف بن ضيف الله بن عبدالعزيز الشاطري المطيري",
                        		"topic": " ادارة الاعمال",
                        		"status": " محروم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "49",
                        		"id": "438780022",
                        		"name": " فيحان بن مطلق بن سليمان الغربي العتيبي",
                        		"topic": " ادارة الاعمال",
                        		"status": " منتظم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "50",
                        		"id": "438780034",
                        		"name": " عبدالعزيز بن خالد بن عبدالله الحضيري",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "51",
                        		"id": "438780052",
                        		"name": " ناصر بن عفات بن حريز الاسعدي العتيبي",
                        		"topic": " ادارة الاعمال",
                        		"status": " منتظم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "52",
                        		"id": "438780054",
                        		"name": " عمر بن ماجد بن ضيف الله قشعان العتيبي",
                        		"topic": " ادارة الاعمال",
                        		"status": " محروم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "53",
                        		"id": "438780056",
                        		"name": " خالد بن هزاع بن غزاي الجش",
                        		"topic": " ادارة الاعمال",
                        		"status": " منسحب",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "54",
                        		"id": "438780078",
                        		"name": " عبدالله بن نداء بن سعد العتيبي",
                        		"topic": " ادارة الاعمال",
                        		"status": " منتظم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "55",
                        		"id": "438780097",
                        		"name": " عبدالله بن سالم بن موسى الحنتوشي العتيبي",
                        		"topic": " ادارة الاعمال",
                        		"status": " منسحب",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "56",
                        		"id": "438780101",
                        		"name": " مبارك بن هديبان بن رشيد المحنا المطيري",
                        		"topic": " ادارة الاعمال",
                        		"status": " منسحب",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "57",
                        		"id": "438780102",
                        		"name": " عبدالرحمن بن سعود بن شباب الغبيوي العتيبي",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "58",
                        		"id": "438780114",
                        		"name": " محمد بن مساعد بن شريم البدراني الحربي",
                        		"topic": " ادارة الاعمال",
                        		"status": " منسحب",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "59",
                        		"id": "438780121",
                        		"name": " مشاري بن عبدالله بن فهد العوني المطيري",
                        		"topic": " ادارة الاعمال",
                        		"status": " منسحب",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "60",
                        		"id": "438780127",
                        		"name": " عامر بن لافي بن علي المهلكي المطيري",
                        		"topic": " ادارة الاعمال",
                        		"status": " محروم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "61",
                        		"id": "438780130",
                        		"name": " مازن بن بدر بن مناور المهلكي المطيري",
                        		"topic": " ادارة الاعمال",
                        		"status": " منتظم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "62",
                        		"id": "438780149",
                        		"name": " سعد بن عبيد بن مطر العضيله المطيري",
                        		"topic": " الاحياء",
                        		"status": " منتظم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": "63",
                        		"id": "438780161",
                        		"name": " سالم  موفق  محمد مشعل",
                        		"topic": " ادارة الاعمال",
                        		"status": " منتظم",
                        		"room": "C1",
                        		"section": "145",
                        		"exam": "النظام الاقتصادي في الإسلام ١٠٣ سلم",
                        		"date": "الأحد ١٧/٠٧/١٤٤٠ ه",
                        		"time": "١٢:٠٠ م"
                        	},
                        	{
                        		"index": ""
                        	}
                        ]      };*/

                            //var todoApp = angular.module("MonApp", []);

              /*  todoApp.controller("ToDoCtrl", function ($scope) {
            $scope.todo = model;
            $scope.IsEmpty=true;
            $scope.IsNotFound=false;
            $scope.result={ items : [] };
            $scope.addNewItem = function (actionText) {
                //$scope.todo.items.push({ action: actionText, done: false });
              }

              $scope.selectExams = function (id) {
                        $scope.result.items=[];
                        $scope.IsEmpty=true;
                        $scope.IsNotFound=true;

                        angular.forEach($scope.todo.items, function(value, key){
                              if(value.id===id){
                                    $scope.result.items.push(value);
                                    $scope.IsEmpty=false;
                                  $scope.IsNotFound=false; }
                        });
              }
  });*/
          </script>
          <script src="js/controller/exams.js"></script>
  </head>
  <body ng-controller="ExamsCtrl">
    <div id="adminWrapper">
    <header>
          <h1>كلية العلوم والآداب بساجر</h1>
    </header>
    <nav>
      <p align="right">أدخل الرقم الجامعي ثم اضغط على زر البحث لإظهار جدول الاختبارات</p>

      <form name='myForm'>
                  <button class="button" ng-click="selectExams(actionText)" ng-disabled="myForm.myInput.$invalid">بحث</button>
                  <input name='myInput' ng-model="actionText"  ng-change="IsNotFound=false" required />
                 <br>
                 <span ng-show="myForm.myInput.$invalid" align="right"><h3>الرقم الجامعي ضرورى*</h3></span>
                 <span ng-show="IsNotFound"  align="right"><h3>الرقم الجامعي غير صحيح</h3></span>

      </form>
      <div id="fin" >
        <p>الفصل الدراسي الثاني</p>
        <p>١٤٣٩/ ١٤٤٠ هـ</p>
      </div>

    </nav>
    <main>


<h1 align="center" >جدول الاختبارات النهائية للفصل الثاني ١٤٣٩/ ١٤٤٠ هـ</h1>
            <table ng-hide="IsEmpty"  class="borderTable">
              <center><h2  ng-hide="IsEmpty">{{result[0].name}}</h2></center>
              <center><h3  ng-hide="IsEmpty">التخصص : {{result[0].spec}}</h3></center>
                        <thead  class="list-header">
                            <tr  align="center"  bgcolor="#ccccd8"  font-weight="bold" >
                                <th>القاعة</th><th>التوقيت</th><th>التاريخ </th><th>الشعبة</th><th> الحالة</th><th>المقرر</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in result | orderBy : 'date' " align="center" style="{{item.status == 'محروم'  || item.status == 'منسحب' ? 'background-color: red' : ''}}">
                                <td>{{item.room}}</td><td>{{item.time}}</td><td>{{item.date}}</td>
                                <td>{{item.section}}</td><td>{{item.status}}</td><td>{{item.course}}</td>

                            </tr>
                        </tbody>
            </table>

            <br>
            <p align="right"> يمنع الدخول لقاعة الاختبار مصحوبا بالجوال -</p>
            <p align="right"> لا يقبل الطالب لقاعة الاختبار بعد مرور نصف ساعة من بداية الاختبار -</p>
            <p align="right"> لا يسمح للطالب بالخروج من قاعة الاختبار قبل مرور نصف الساعة من بداية الاختبار -</p>
    </main>
    <footer>
      &copy; mkoubaa@su.edu.sa
    </footer>
    </div>
</body>
</html>
